<!DOCTYPE html>
<html>
  <head>
    <title>Brooke's Blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Brooke's Blog</a</h1>
    </header>

    {% for post in posts %}  
    <time>published: {{ post.published_date }}</time>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>
      {{ post.text|linebreaksbr }}
    </p>
    {% endfor %}
    <time>published: 14.06.2014, 12:14</time>
    <h2><a href="">My second post</a></h2>
    <p>
      (Pokémon Gotta catch 'em all) It's you and me I know it's my destiny
      (Pokémon) Oh, you're my best friend In a world we must defend (Pokémon
      Gotta catch 'em all) A heart so true Our courage will pull us through You
      teach me and I'll teach you (Ooh, ooh) Pokémon! (Gotta catch 'em all)
      Gotta catch 'em all Yeah
    </p>
    {{ posts }}
  </body>
</html>
