<!DOCTYPE html>
<html>
  <head>
    <title>Brooke's Blog</title>
  </head>
  <body>
    <header>
      <h1>Brooke's Blog</h1>
    </header>
    <article>
      <time>published: 14.06.2014, 12:14</time>
      <h2><a href="">My first post</a></h2>
      <p>
        I wanna be the very best Like no one ever was To catch them is my real
        test To train them is my cause I will travel across the land Searching
        far and wide Teach Pokémon to understand The power that's inside
      </p>
    </article>

    <article>
      <time>published: 14.06.2014, 12:14</time>
      <h2><a href="">My second post</a></h2>
      <p>
        (Pokémon Gotta catch 'em all) It's you and me I know it's my destiny
        (Pokémon) Oh, you're my best friend In a world we must defend (Pokémon
        Gotta catch 'em all) A heart so true Our courage will pull us through
        You teach me and I'll teach you (Ooh, ooh) Pokémon! (Gotta catch 'em
        all) Gotta catch 'em all Yeah
      </p>
    </article>
  </body>
</html>
